<div class="card gedf-card">
    <div class="card-body" style="width: 100%;">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <label class="sr-only" for="message">post</label>
                    <img class="rounded-circle" width="45" src="../assets/images/{{user.imageName}}" alt="">&nbsp;
                  <button type="button" class="modal-button" data-toggle="modal" data-target="#myModal" placeholder="What are you thinking?" style="border:1px solid gray">
                      Say Something...
                    </button>
            </div>
        </div>
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-picture-o"> Photo</i>
                </button>
                <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-video-camera"> Video</i>
                </button>
            </div>
        </div>
    </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Post a Tweet</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="form" align="center">
            <div class="form-group">
            <textarea class="form-control" formControlName="tweets" id="message" rows="3" placeholder="What are you thinking?"></textarea>
        </div>
    </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmitPost()">Post</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)=" onReset()">Cancel</button>
        </div>
        </div>
        </div>
        </div>