<div id="wrapper" class="animate">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 shadow">
        <div class="container">
          <a class="navbar-brand"><img src="..\assets\images\Logo.jpg" height="30px" width="40px" style="border :none;"></a>
          <form [formGroup] = "form" class="form-inline my-2 my-lg-0" (ngSubmit) = "Search()"> <input id="search" class="form-control mr-sm-2" formControlName = "username" class="form-control" type="text" placeholder="Search"> <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button> </form>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/USER'" routerLinkActive="router-link-active"><i class="fa fa-home"></i>Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false" style="color: black;">
                                  <i class="fa fa-user"></i> Me
                              </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" routerLink="/CHANGEPASSWORD" routerLinkActive="router-link-active"><i class="fa fa-cog"></i> Settings and Privacy</a>
                      <a class="dropdown-item" routerLink="/VIEW PROFILE" routerLinkActive="router-link-active"><i class="fa fa-user"></i> Profile</a>
                      <a class="dropdown-item" [routerLink]="'/HOME'" routerLinkActive="router-link-active"><i class="fa fa-sign-out"></i> LogOut</a>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <br><br><br>
      <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                    <!--Profile -->
  <div class="card gedf-card" >
      <div class="card-header" style="background-color: darkgrey;height: 60px;"></div>
      <div class="card-body">
          <div class="center" style="text-align: center;">
            <a class="card-link">
                <img class="img-center" src="../assets/images/{{user.imageName}}" text-align="center"/>&nbsp;
                <h5 class="card-title" text-align="center">{{user.username}}</h5>
            </a>
            <p class="card-text">
                <a data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-key"></i>  Change Password</a>
            </p>
          </div>
      </div>
      </div>
            </div>
        </div>
      </div>
</div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalCenterTitle">Change Password</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form [formGroup]="userForm" (ngSubmit)="onSubmitPassword()">  
				<div class="form-group">
				<label>Emailid</label>
				<input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" placeholder="EmailId"/>
				<div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
					<div *ngIf="f.emailid.errors.required">EmailId is required</div>
				</div>   
			</div> 
			<div class="form-group">
				<label>OldPassword</label>
				<input type="password"formControlName="oldpassword" placeholder="********" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
				<div *ngIf="submitted && f.oldpassword.errors" class="alert alert-danger">
					<div *ngIf="f.oldpassword.errors.required">
					  OldPassword is required
					</div>
				  </div>                 
			</div>
			<div class="form-group">
				<label>NewPassword</label>
				<input type="password"formControlName="newpassword" placeholder="********" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
				<div *ngIf="submitted && f.newpassword.errors" class="alert alert-danger">
					<div *ngIf="f.newpassword.errors.required">
					  Confirm Password is required
					</div>
					  <div *ngIf="f.newpassword.errors.confirmPasswordValidator">
						Passsword and Confirm Password didn't match.
					  </div>                    
				  </div>                
			</div>
			<div class="modal-footer">
				<input name="reset" id="reset" class="btn btn-block login-btn mb-4" type="submit" value="ChangePassword">
			  </div>	   
		  </form>
		</div>
	  </div>
	</div>
  </div>