<a data-toggle="modal" data-target="#exampleModalCenter">Forgot password?</a>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalCenterTitle">Forgot Password</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
      <div class="text-center">
        <p *ngIf="passwordLength" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>password</b> should be greater than 7 and less than 8 characters </p>
        <p *ngIf="prePasswordCheck" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter <b>password</b> first</p>
        <p *ngIf="passwordValidation" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>Password</b> didn't matched</p>
        <p *ngIf="emailValid" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter Valid <b>Email</b> Id</p>
    </div>
			<form [formGroup]="userForm" (ngSubmit)="onSubmitPassword()">  
				<div class="form-group">
				<label>Emailid</label>
				<input class="mb-4 form-control" formControlName="emailid" [ngClass]="{'warningOutline' : emailValid}" type="text" (keyup) ="emailValidation(email)" #email name="emailid" placeholder="Enter a valid email address">    
			</div> 

  <div class="form-group">
    <label for="password" class="control-label">Password</label>
    <input class="mb-4 form-control" formControlName="password" type="password" (keyup)="checkPrePassword(password)" #password name="password" placeholder="Enter password"> 
  </div>

  <div class="form-group">
    <label for="confirmPassword" class="control-label">Confirm Password</label>
    <input class="mb-4 form-control" formControlName="confirmpassword" type="password" [ngClass]="{'warningOutline' : passwordValidation}" (keyup)="checkPassword(password,confirmpassword)" #confirmpassword name="confirmpassword" placeholder="Enter password again"> 
  </div>
			<div class="modal-footer">
				<input name="reset" id="reset" class="btn btn-block login-btn mb-4" type="submit" value="ResetPassword">
			  </div>	   
		  </form>
		</div>
	  </div>
	</div>
  </div>